@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --maximum-red: #dc1c13;
  --carmine-pink: #ea4c46;
  --begonia: #f07470;
  --american-pink: #f1959b;
  --spanish-pink: #f6bdc0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

button {
  background-color: var(--maximum-red);
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.container {
  max-width: 130rem;
  margin: auto;
  padding: 0 1rem;
}

/* Navbar */

header {
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.navbar {
  background: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  font-size: 30px;
  color: var(--maximum-red);
  font-weight: 600;
}
.navbar nav ul {
  display: flex;
}
.navbar nav ul li a {
  display: inline-block;
  color: #000;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.2s;
}
.navbar nav ul li a:hover,
.navbar nav ul li a.active {
  border-bottom-color: var(--maximum-red);
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .navbar {
    padding: 0 30px;
  }
  .navbar nav {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 70px;
    width: 100%;
    background: #fff;
    padding: 30px;
    transition: 0.3s;
  }
  .navbar #nav_check:checked ~ nav {
    left: 0;
  }
  .navbar nav ul {
    display: block;
  }
  .navbar nav ul li a {
    margin: 5px 0;
  }
}

/* Home Section */

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-top: 5rem;
}

#home .home-content {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 3rem;
}

#home .home-content h1 {
  font-size: 5rem;
  color: var(--carmine-pink);
}

#home .home-content p {
  font-size: 2rem;
}

#home .home-content .explore-btn {
  align-self: flex-start;
}

#home .home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  animation: beat 0.25s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}

#home .home-logo img {
  width: 30rem;
}

@media only screen and (max-width: 1200px) {
  #home {
    padding: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  #home {
    flex-direction: column;
    margin-top: 10rem;
  }
  #home .home-logo {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 700px) {
  #home .home-logo {
    width: 70%;
  }
  #home .home-content {
    width: 70%;
  }
}

/* About Us Section */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1.5rem;
}

#about h1 {
  margin-bottom: 5rem;
  text-align: center;
  color: var(--maximum-red);
  font-size: 4rem;
  font-weight: 500;
}

#about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

#about .about-container .about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about .about-container .about-content p {
  font-size: 1.5rem;
  text-align: justify;
}

#about .about-container .about-content .knowMore-btn {
  align-self: flex-start;
}

#about .about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  #about .about-container {
    flex-direction: column;
    margin-top: 10rem;
  }
  #about {
    margin-top: 5rem;
  }
  #about .about-container .about-logo {
    margin: -10rem 0;
  }
  #about .about-container .about-logo img {
    width: 60rem;
  }
  #about .about-container .about-content {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  #about {
    scroll-margin: 10rem;
  }
  #about .about-container .about-logo {
    width: 70%;
  }
  #about .about-container .about-content {
    width: 80%;
  }
  #about .about-container .about-logo img {
    width: 55rem;
  }
}

/* Quote */

.quote {
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  min-height: 40vh;
  background-color: var(--begonia);
  display: grid;
  place-items: center;
}

.quote h1 {
  font-size: 5rem;
}

.quote i {
  font-size: 20rem;
  margin: 0 2rem;
  opacity: 0.5;
}

.quote .quote-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote p {
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  .quote h1 {
    font-size: 3rem;
  }

  .quote i {
    font-size: 15rem;
  }
}

@media only screen and (max-width: 900px) {
  .quote {
    min-height: 30%;
  }

  .quote h1 {
    font-size: 2rem;
  }

  .quote i {
    font-size: 10rem;
  }

  .quote p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .quote h1 {
    font-size: 1.7rem;
  }
}

/* Blog Section */

#blog {
  padding: 0 5rem;
  margin-top: 3rem;
  scroll-margin: 8rem;
}

#blog h1 {
  text-align: center;
  text-align: center;
  color: var(--maximum-red);
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 500;
}

#blog .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  margin: 0 auto;
}

#blog .card-container .wrapper {
  display: flex;
  justify-content: center;
}

#blog .card {
  border-radius: 10px;
  overflow: hidden;
  border: 0.2rem solid var(--begonia);
  max-width: 32rem;
  margin: 2rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#blog .card:hover {
  background-color: var(--begonia);
}

#blog .card img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

#blog .card:hover img {
  transform: scale(1.1);
}

#blog .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

#blog .card .card-content h2 {
  font-size: 2rem;
}

#blog .card .card-content p {
  font-size: 1.5rem;
  text-align: justify;
}

#blog .card .card-content button {
  align-self: flex-start;
}

#blog .card:hover .card-content .readMore-btn {
  background-color: white;
  color: var(--maximum-red);
}

@media screen and (max-width: 700px) {
  #blog {
    scroll-margin: 10rem;
  }
}

/* tips */

#tips {
  min-height: 50vh;
  background-color: var(--begonia);
  padding: 1rem 0;
}

#tips h1 {
  text-align: center;
  font-size: 4rem;
  color: black;
  margin: 4rem 0;
  font-weight: 500;
}

#tips .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  margin: 0 auto;
}

#tips .card-container .wrapper {
  display: flex;
  justify-content: center;
}

#tips .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  max-width: 32rem;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#tips .card:hover {
  background-color: white;
  color: var(--maximum-red);
}

#tips .cards .card-icon i {
  width: 12rem;
}

#tips .cards .card-icon i {
  font-size: 8rem;
}

#tips .card-content {
  margin-left: 2rem;
}

/* Contact Us */

.contact {
  margin: 1rem 0 5rem 0;
  scroll-margin: 8rem;
  min-height: 80vh;
}

.contact h1 {
  text-align: center;
  margin: 2rem 0;
  color: var(--maximum-red);
  font-size: 4rem;
  font-weight: 500;
}

.contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: var(--carmine-pink);
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--carmine-pink);
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .sendNow-btn {
  display: inline-block;
  margin-top: 12px;
}
.right-side .sendNow-btn input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--maximum-red);
  cursor: pointer;
  transition: all 0.3s ease;
}
.sendNow-btn input[type="button"]:hover {
  opacity: 0.8;
}

@media (max-width: 950px) {
  .contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .contact {
    margin: 40px 0;
    height: 100%;
    scroll-margin: 4rem;
  }
  .contact .content {
    flex-direction: column-reverse;
  }
  .contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact .content .left-side::before {
    display: none;
  }
  .contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* Footer */

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.f-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--maximum-red);
  height: 2px;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--maximum-red);
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
